.container {
	width: 100%;
}
.inner-container {
	width: 100%;
	float: left;
	height: 800px;
}
.inner-sidebar {
	width: 6%;
	float: left;
}
.inner-content-image {
	width: 43%;
	float: left;
	height: 400px;
}
.inner-content-info {
	width: 43%;
	float: left;
	height: 100%;
	margin-top: 50px;

}
.inner-gap {
	width: 2%;
	float: left;
}
.avatarka {
   border-radius: 100%;
   border: 5px solid #ecf0f1;
   margin-top: 50px;
}

.link-bot-form {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.link-bot-form:link {
  color: #265301;
}

.link-bot-form:hover {
  border-bottom: 1px solid;
  background: #cdfeaa;
}

.btn-new {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
}

.btn-new:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}
*,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff8f299;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    h1 {
      font-size: 1.25rem;
      font-weight: 500;
    }

    /* text field */
    .text-field {
      margin-bottom: 1rem;
    }

    .text-field__label {
      display: block;
      margin-bottom: 0.25rem;
    }

    .text-field__input {
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: 0.375rem 0.75rem;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #bdbdbd;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .text-field__input::placeholder {
      color: #212529;
      opacity: 0.4;
    }

    .text-field__input:focus {
      color: #212529;
      background-color: #fff;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

    .text-field__input:disabled,
    .text-field__input[readonly] {
      background-color: #f5f5f5;
      opacity: 1;
    }

    /* with floating label */
    .text-field_floating-3 {
      position: relative;
    }

    .text-field_floating-3 .text-field__input {
      border: none;
      border-bottom: 1px solid #bdbdbd;
      border-radius: 0;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      height: calc(3.5rem + 2px);
      line-height: 1.25;
      padding: 1rem 0.75rem;
      background-color: #f5f5f5;
    }

    .text-field_floating-3 .text-field__input:focus {
      outline: 0;
      border-bottom: 1px solid #03a9f4;
      box-shadow: none;
      background-color: #eee;
    }

    .text-field_floating-3 .text-field__label {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding: 1rem .75rem;
      pointer-events: none;
      border: 1px solid transparent;
      transform-origin: 0 0;
      transition: color .15s ease-in-out, transform .15s ease-in-out;
    }

    .text-field_floating-3 .text-field__input::-moz-placeholder {
      color: transparent;
    }

    .text-field_floating-3 .text-field__input::placeholder {
      color: transparent;
    }

    .text-field_floating-3 .text-field__input:focus,
    .text-field_floating-3 .text-field__input:not(:placeholder-shown) {
      padding-top: 1.625rem;
      padding-bottom: .625rem;
      border-bottom: 1px solid #03a9f4;
    }

    .text-field_floating-3 .text-field__input:focus~.text-field__label,
    .text-field_floating-3 .text-field__input:not(:placeholder-shown)~.text-field__label {
      transform: scale(.85) translateY(-.75rem) translateX(.15rem);
      color: #03a9f4;
    }
.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
	background-color: #59be6e;
}
.input-file:active span {
	background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

    .button-73 {
      appearance: none;
      background-color: #FFFFFF;
      border-radius: 40em;
      border-style: none;
      box-shadow: #ADCFFF 0 -12px 6px inset;
      box-sizing: border-box;
      color: #000000;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system,sans-serif;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: -.24px;
      margin: 0;
      outline: none;
      padding: 1rem 1.3rem;
      quotes: auto;
      text-align: center;
      text-decoration: none;
      transition: all .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    .button-73:hover {
      background-color: #FFC229;
      box-shadow: #FF6314 0 -6px 8px inset;
      transform: scale(1.125);
    }

    .button-73:active {
      transform: scale(1.025);
    }