body {
background-color: #fff8f299;
}
.cont {
                width: 100%;
                float: left;
                height: 230px;
            }
            .sidebar {
                width: 5%;
                float: left;
                margin-top: 20px;
            }
            .content-1 {
                width: 90%;
                float: left;
                margin-top: 20px;
            }
            .inner-content-1 {
                width: 22%;
                height: 175px;
                float: left;
                background-color: #7db0e48a;
                transition: transform 0.4s;
                border-radius: 20px;
            }
            .inner-gap-1 {
                width: 4%;
                float: left;
            }
            .icon-text {
                text-align: center;
                margin-top: -10px;
                font-size: 25px;
            }
            .icon {
                text-align: center;
                margin-top: 30px;
            }
            .link-tables {
                color: black;
                text-decoration: none;
            }
            .inner-content-1:hover{
                background-color: #e096c170;
                transform: scale(1.1);
            }
            .mb-3 {
                margin-bottom: 15px;
            }